@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/* Reset and base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0e7ff;
}

/* Container and layout */
.login-container {
    display: flex;
    height: 100vh;
}

.login-left, .login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-left {
    background-color: #f8faff;
}

.login-right {
    background-color: #8ddbc4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right .logo {
    width: 200px;
    height: auto;
}

/* Typography */
h2 {
    margin-bottom: 20px;
    color: #333;
}

h3 {
    background: #24a883;
    padding: 7px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    color: #fff;
}

/* Form styling */
.form {
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background: #f8faff;
}

/* Button styles */
.login-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-actions a {
    color: #555;
    text-decoration: underline; /* Underline the link */
    margin-bottom: 40px; /* Add space between link and button */
    margin-left: 180px
}

.login-actions button {
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #24a883;
    color: #24a883;
    border-radius: 30px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.login-actions button:hover {
    background-color: #24a883;
    color: #fff;
    cursor: pointer;
}

/* Additional styles */
.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link p {
    color: #000000;
}

.register-link a {
    color: hsl(147, 93%, 24%);
    text-decoration: none;
}

/* Welcome box */
.welcome-box {
    border: 2px solid #8ddbc4; /* Border color and thickness */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
   /* background-color: #77ba24;   */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for some depth */
    width: 100%;
    max-width: 400px; /* Match the form's max width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 20px; /* Space below the box */
}

.welcome-box form {
    margin: 0; /* Remove default margin from the form */
}